:host {
  .building {
    /deep/ {
      .ui-widget-header {
        text-transform: capitalize;
      }
      .ui-widget-content {
        position: relative;
        .building-icon {
          height: 100px;
          width: 100px;
          position: relative;
          margin: auto;
          div {
            width: 100%;
            height: 100%;
            // left: -50%;
            // margin-left: 50%;
            background: url('/assets/img/miners/miners.png') 0 0 no-repeat;
            &.metalmine {
              background-position: -100px 0;
            }
            &.crystalmine {
              background-position: -400px 0;
              &.disabled {
                background-position: -400px -100px;
              }
            }
            &.deutmine {
              background-position: -300px 0;
            }
          }
        }
        .building-lvl {
          .fa {
            &.enabled {
              color: #55a748;
            }
            margin-left: 10px;
          }
        }
      }
    }
  }
}
