<div>
  <app-header></app-header>
</div>
<div class="view-wrapper">
  <div class="header row">
    <div class="col-xs-offset-2 col-xs-8">
      <app-resources-bar></app-resources-bar>
    </div>
  </div>
  <div class="game-wrapper row">
    <div class="col-xs-2">
      <app-menu></app-menu>
    </div>
    <div class="col-xs-8">
      <router-outlet></router-outlet>
    </div>
    <div class="sidebar col-xs-2">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>

<!--<div class="view-wrapper">
  <div class="game-wrapper">
    <app-menu></app-menu>
    <div class="content-wrapper row">
      <app-resources-bar></app-resources-bar>
      <div class="view col-xs-10">
        <router-outlet></router-outlet>
      </div>
      <div class="sidebar col-xs-2">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</div> -->