:host {
  .resources-wrapper {
    padding: 0px 10em;
    .resource-item {
      text-align: center;
      color: #cccccc;
      font-size: 12px;
      i {
        background: transparent url('/assets/img/resources.png') 0 0 no-repeat;
        margin: 0 8px 2px 8px;
        width: 48px;
        height: 32px;
        &.metal {
          background-position: 0 -160px;
        }
        &.crystal {
          background-position: -48px -160px;
        }
        &.deuterium {
          background-position: -96px -160px;
        }
      }
    }
  }
}
